@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kaushan+Script&family=Passions+Conflict&family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Josefin Sans', sans-serif;


}


#header {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 100px;
    background-color: black;

}

.navbar {
    background-color: black;


}

h4 span ,p span {
    color: #ff004f;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}

.navbar a {
    color: white;
    margin: 0px 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.nav-link.active:hover {
    color: #ff004f;
    border-bottom: #ff004f 3px solid;

}

.nav-item a:hover {
    color: #ff004f;
    border-bottom: #ff004f 3px solid;

}

.button {
    background-color: #ff004f;
    border: 2px solid transparent;
    text-decoration: none;
    box-shadow: 0px 0px 5px #101010;
}

.button:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.intro h4 {
    font-size: 30px;
    padding: 150px 0 10px 0;
    font-family: 'Josefin Sans', sans-serif;

}

.intro h1 {
    font-size: 12vh;
    color: white;

}

.intro h1 span {
    font-size: 12vh;
    font-family: 'poppins', sans-serif;
    color: #ff004f;
}

.intro p a {
    background-color: #ff004f;
    border: 2px solid transparent;
    text-decoration: none;
    box-shadow: 0px 0px 5px #101010;
}

.image img {
    width: 50%;
    /* border-radius: 300px; */
    box-shadow: 0px 20px 10px #ff004f;
}

.image {
    background-color: #d6d1d300;
    background-position: center;
    margin-top: 50px;
}

section .about {
    width: 100%;
    min-height: 100vh;
    background-color: #050404;

}

section .skill {
    width: 100%;
    min-height: 100vh;
    background-color: black;

}

.skill_card {

    height: auto;
    background-color: #e7106600;
    box-shadow: 0px 0px 5px #101010;
}

.skill_card img {
    width: 150px;
    height: 150px;

}

.skill_card .img1 {
    width: 130px;
    height: 150px;

}

section .services {
    width: 100%;
    min-height: 100vh;
    background-color: #050404;

}

.servicebox {
    width: 300px;
    height: 300px;
    background-color: #101010;
    box-shadow: 0px 0px 8px #ff004f;
    border-radius: 25px;
}

.servicebox .para {
    color: #fcfc;
}

.servicebox:hover {
    transform: scale(1.1);
}

/* myworks */
section .works {
    width: 100%;
    min-height: 100vh;
    background-color: black;
}

/* contact me */
.contact_me p i {
    color: #ff004f;
    font-size: 25px;
}

.social-icons a {
    color: #ababab;
    transition: transform(0.5s);
    font-size: 30px;
    margin-right: 15px;

}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-30px);
}

.btn.btn2 {
    display: inline-block;
    background-color: #ff004f;
    margin-top: 20px;
    color: white;
}

section .contact {
    width: 100%;
    min-height: 100vh;
}

#contact {
    background-color: #050404;
    color: white;
}

.work_body {
    width: 200px;
    height: 200px;
}

.work_body img {
    width: 100%;
    height: auto;
    padding-top: 20px;
}

section .myworks {
    width: 100%;
    min-height: 100vh;
    background-color: black;
}

.myworks .work_body {
    width: 250px;
    height: 280px;
    background-image: url('./images/book.jpg');
    background-position: center;
    background-size: cover;
    outline: 2px solid #ff004f;
    outline-offset: 5px;
}

.myworks .work_body2 {
    width: 250px;
    height: 280px;
    background-image: url('./images/movie.jpg');
    background-position: center;
    background-size: cover;
    outline: 2px solid #ff004f;
    outline-offset: 5px;
}

.myworks .work_body3 {
    width: 250px;
    height: 280px;
    background-image:  url('./images/fd.jpg');
    background-position: center;
    background-size: cover;
    outline: 2px solid #ff004f;
    outline-offset: 5px;
   
}

.c{
    padding: 10px 13px ;
   border: 2px solid transparent;
   background-color: #ff004f;
   font-size: small;
   box-shadow: 0px 0px 5px #101010;


}
.c:hover{
    background-color: #ff004f;
}




@media screen and (max-width:480px) {
    h4 span ,p span  {
        color: #ff004f;
        font-size: 26px;

    }

    .intro h4 {
        font-size: 25px;
        padding: 50px 0 0px 0;
        font-family: 'Josefin Sans', sans-serif;

    }

    .image img {
        width: 70%;
        /* border-radius: 300px; */
        box-shadow: 0px 20px 10px #ff004f;
    }

    .intro {
        padding-left: 20px;
    }

    .intro h1 {
        font-size: 6vh;
        color: white;

    }

    .intro h1 span {
        font-size: 6vh;
        font-family: 'poppins', sans-serif;
        color: #ff004f;
    }

}